<a href="https://colab.research.google.com/github/halfChewedGum/python-practice/blob/main/Pandas_00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook is going to cover everything there is about Pandas for Data Manipulation. I'm following the book by Matt Harrison. I'll cover Chapter by Chapter, and try to work on the same dataset for all of it.

# Chapter 1 - Introductions 
# Chapter 2 - Installs and Version Check

In [6]:
#check pandas version - 1 
import pandas 
pd.__version__

'1.3.5'

In [7]:
#check pandas version - 2 

pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : 66e3805b8cabe977f40c05259cc3fcf7ead5687d
python           : 3.8.16.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.10.147+
Version          : #1 SMP Sat Dec 10 16:00:40 UTC 2022
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 1.3.5
numpy            : 1.21.6
pytz             : 2022.7
dateutil         : 2.8.2
pip              : 22.0.4
setuptools       : 57.4.0
Cython           : 0.29.32
pytest           : 3.6.4
hypothesis       : None
sphinx           : 3.5.4
blosc            : None
feather          : 0.4.1
xlsxwriter       : None
lxml.etree       : 4.9.2
html5lib         : 1.0.1
pymysql          : None
psycopg2         : 2.9.5 (dt dec pq3 ext lo64)
jinja2           : 2.11.3
IPython          : 7.9.0
pandas_datareader: 0.9.0
bs4              : 4.6.3
bottleneck       : None
fsspec           : 2022.11.0
fastparquet      : None
gcsfs            : None
matplotlib       : 3.2.2
numexpr          : 2.8.4
odfpy            : None
openpyxl         : 3.0.10
pandas_gbq       : 0.17.9
pyarrow          : 9.0.0
pyxlsb           : None
s3fs             : None
scipy            : 1.7.3
sqlalchemy       : 1.4.46
tables           : 3.7.0
tabulate         : 0.8.10
xarray           : 2022.12.0
xlrd             : 1.2.0
xlwt             : 1.3.0
numba            : 0.56.4

# Chapter 3 - Data Structures
# Chapter 4 - Data Structures : Series

In [8]:
#what is behind a series 

dictionary_behind_series = {
    'index': [0, 1, 2, 3],
    'data': ['HP and Stone', 'HP and Chamber', 'HP and Azkaban', 'HP and Golbet of Fire'],
    'name': 'First four HP movies' 
}

dictionary_behind_series

{'index': [0, 1, 2, 3],
 'data': ['HP and Stone',
  'HP and Chamber',
  'HP and Azkaban',
  'HP and Golbet of Fire'],
 'name': 'First four HP movies'}

In [9]:
#a function to read something from this by turning it into a series 

def get(some_dict, ind):
  """Get from some dictionary, an index value"""

  value = some_dict['index'].index(ind)
  return some_dict['data'][value]

#what is the fourth Harry potter movie? 
get(dictionary_behind_series, 3)

'HP and Golbet of Fire'

In [10]:
#NaN values

nan_series1_error = pd.Series([1, None], index = ['Num1', 'Num2'], dtype = 'int64')

TypeError: ignored

In [11]:
nan_series2 = pd.Series([2, None], index = ['Num1', 'Num2'], dtype = 'Int64')
nan_series3 = pd.Series([3, None], index = ['Num1', 'Num2'])

In [12]:
nan_series2.count()

1

In [13]:
nan_series3.count()

1

In [16]:
nan_series2.size

2

In [15]:
nan_series3.size

2

In [19]:
#Boolean Array 

dreamcatcher_members_ages = pd.Series([29, 29, 28, 27, 26, 26, 23], index = ['Jiu', 'Sua', 'Siyeon', 'Handong', 'Yoohyeon', 'Dami', 'Gaheyon'])

age_mask = dreamcatcher_members_ages > dreamcatcher_members_ages.median()

unnie_line = dreamcatcher_members_ages[age_mask]
unnie_line

Jiu       29
Sua       29
Siyeon    28
dtype: int64

## Categorical Data Types

In [20]:
clothing_sizes = pd.Series(['M', 'xl', 'xxl', 'L', 's', 'xs'], dtype = 'category')
clothing_sizes

0      M
1     xl
2    xxl
3      L
4      s
5     xs
dtype: category
Categories (6, object): ['L', 'M', 's', 'xl', 'xs', 'xxl']

In [24]:
#is it ordered? 
clothing_sizes.cat.ordered

False

In [23]:
#turn all into capital 
uppercase_clothing_size = clothing_sizes.str.upper()
uppercase_clothing_size

0      M
1     XL
2    XXL
3      L
4      S
5     XS
dtype: object

In [25]:
#define a new ordered type 

size_type_order = pd.api.types.CategoricalDtype(categories = ['XS', 'S', 'M', 'L', 'XL', 'XXL'], ordered = True)

In [26]:
ordered_clothing_size = uppercase_clothing_size.astype(size_type_order)

In [31]:
ordered_clothing_size.cat.ordered

True

In [32]:
ordered_clothing_size

0      M
1     XL
2    XXL
3      L
4      S
5     XS
dtype: category
Categories (6, object): ['XS' < 'S' < 'M' < 'L' < 'XL' < 'XXL']

In [40]:
#another way to do this: 

second_ordered_clothing_size = (clothing_sizes.str.upper()).astype('category').cat.reorder_categories(['XS','S', 'M', 'L', 'XL', 'XXL'], ordered = True)
second_ordered_clothing_size

0      M
1     XL
2    XXL
3      L
4      S
5     XS
dtype: category
Categories (6, object): ['XS' < 'S' < 'M' < 'L' < 'XL' < 'XXL']

In [46]:
#how many attributes does a python objects have? 
import datetime 
dt = datetime.datetime(2023, 1, 1)
st = 'Hello'

print('Pandas Series has ', len(dir(pd.Series)))
print('Date time object has ', len(dir(dt)))
print('String has ', len(dir(st)))

Pandas Series has  421
Date time object has  67
String has  78

# Chapter 6 - Operators and Dunder Methods

In [47]:
sum1 = 1 + 2 
sum2 = (1).__add__(2)

In [48]:
sum1

3

In [49]:
sum2

3

In [51]:
#BROADCASTING

working_series = pd.Series([1, 2, 3, 4, 5])
working_series_double = working_series * 2

working_series_double

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [52]:
added_5 = working_series.add(5)
added_5

0     6
1     7
2     8
3     9
4    10
dtype: int64

In [53]:
#chaining 

add_10_then_double = working_series.add(10).mul(2)
add_10_then_double

0    22
1    24
2    26
3    28
4    30
dtype: int64

In [54]:
small_ser = pd.Series([10, 20])

sub_10 = small_ser.sub(10)
div_10 = small_ser.div(10)
mod_10 = small_ser.mod(10)
pow_2 = small_ser.pow(2)
equal_check = small_ser.eq(10)
notEqual_check = small_ser.ne(10)
greater_check = small_ser.gt(10)
lesser_check = small_ser.lt(20)
greater_equal_check = small_ser.ge(10)
lesser_equal_check = small_ser.le(20)

In [57]:
import numpy as np 

#some numpy methods for series 
inverted = np.invert(small_ser)

logical_ser1 = pd.Series([True, True, False])
logical_ser2 = pd.Series([False, True, False])

l_and = np.logical_and(logical_ser1, logical_ser2)
l_or = np.logical_or(logical_ser1, logical_ser2)

In [58]:
print('sub 10', sub_10)
print('div 10', div_10)
print('mod 10', mod_10)
print('power 2', pow_2)
print('equal to 10', equal_check)
print('not equal to 10', notEqual_check)
print('greater than 10', greater_check)
print('less than 20', lesser_check)
print('greater equal to 10', greater_equal_check)
print('less than or equal to 20', lesser_equal_check)
print('inverse', inverted)
print('logical and', l_and)
print('logical or', l_or)

sub 10 0     0
1    10
dtype: int64
div 10 0    1.0
1    2.0
dtype: float64
mod 10 0    0
1    0
dtype: int64
power 2 0    100
1    400
dtype: int64
equal to 10 0     True
1    False
dtype: bool
not equal to 10 0    False
1     True
dtype: bool
greater than 10 0    False
1     True
dtype: bool
less than 20 0     True
1    False
dtype: bool
greater equal to 10 0    True
1    True
dtype: bool
less than or equal to 20 0    True
1    True
dtype: bool
inverse 0   -11
1   -21
dtype: int64
logical and 0    False
1     True
2    False
dtype: bool
logical or 0     True
1     True
2    False
dtype: bool

# Chapter 7 - Aggregate Methods

In [59]:
#aggregate functions 

print('Dreamcatcher members average age is ', dreamcatcher_members_ages.mean())

Dreamcatcher members average age is  26.857142857142858

In [60]:
#non-callable aggregates: 
dreamcatcher_members_ages.is_unique

False

In [61]:
dreamcatcher_members_ages.is_monotonic_increasing

False

In [62]:
#quantiles
first_qt = dreamcatcher_members_ages.quantile(.1)
second_qt = dreamcatcher_members_ages.quantile() #50%
third_qt = dreamcatcher_members_ages.quantile(.9)

print(first_qt, second_qt, third_qt)

24.8 27.0 29.0

In [63]:
#count of values that meet some criteria: 
#count how many are older than 25 

older_than_25 = dreamcatcher_members_ages.gt(25).sum()
older_than_25

6

In [64]:
#calculate percentage of values that meet a criteria 
#what percentage of the members are over 25 

over_25_percentage = dreamcatcher_members_ages.gt(25).mul(100).mean()
over_25_percentage

85.71428571428571

In [70]:
#are they all true? 
bool_ser = pd.Series([True, True, False])
print(bool_ser.all())
print(bool_ser.any())

False
True

In [72]:
#what's the kurtosis of the dreamcatcher data?
kurtosis = dreamcatcher_members_ages.kurt()
kurtosis

0.8023540063377093

In [73]:
#what's the skewness of the dreamcatcher data?
skewness = dreamcatcher_members_ages.skew()
skewness

-0.9231888356911809

In [75]:
dreamcatcher_members_ages.agg(['mean', np.var, 'median', max, min, 'std'])

mean      26.857143
var        4.476190
median    27.000000
max       29.000000
min       23.000000
std        2.115701
dtype: float64